
  <!--CTA1 START-->
  <div class="cta-1">
    <div class="">
      <div class="row text-center white" style="margin-bottom:-5px">
        <h1 class="cta-title">ayushyaa clinic</h1>
       <hr class="pg-titl-bdr-btm" style="height:0.5px;">
      </div>
    </div>
  </div>
  <!--CTA1 END-->

  <!--SERVICE START-->
  <div id="service" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="page-title text-center">
          <h1 class="current_to">current token</h1>
          <h1 class="current_number">{{currentToken}}</h1>
          
          
        </div>
        
      </div>
    </div>
  </div>
  <!--SERVICE END-->
  <div id="portfolio">
    <div class="container">
      <div class="page-title text-center">
		<img src="../../assets/images/icon_ayus.png"/>
        <h1 class="upcoming_tokens">upcoming tokens</h1>
		<div class="upcoming_num">
			<h1>{{nextToken1}}</h1>
				<hr class="pg-titl-bdr-btm">
			<h1>{{nextToken2}}</h1>
		</div>
        
        
      </div>  

      
    </div>
  </div>


  <!--CTA2 START-->
  <div class="cta2">
    
  </div>
  <!--CTA2 END-->